#gameBoard {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 500px;
    height: 500px;
    background-color: rgb(255, 196, 0);
    border: 4px groove blue;
}

#mainMenu{
    user-select: none;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 170px;
    top: 150px;
    z-index: 3;
}

#mainMenu > p{
    background-color: rgb(0, 255, 55);
    width: 150px;
    height: 20px;
    border: 3px groove purple;
    border-radius: 50px;
    padding: 5px;
    margin: 5px;    
    text-align: center;
    line-height: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

#mainMenu > p:hover {
    background-color: plum;
    color: white;
}

#scoreBoard {
    user-select: none;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 550px;
    top: 100px;
    border: 3px solid green;
    border-radius: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    line-height: 70px;
    background-color: greenyellow;
}

#gameOver {
    user-select: none;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 170px;
    top: 150px;
    border: 3px solid black;
    border-radius: 50px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    line-height: 70px;
    background-color: red;
    visibility: hidden;
}

#gameOver > #finalScore {
    position: absolute;
    top: 10%;
    left: 24%;
    text-align: center;
    color: rebeccapurple;
    font-size: 15px;
}

#gameOver > #tryAgain {
    position: absolute;
    left: 5%;
    width: 130px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 10px;
    line-height: 30px;
    background-color:rgb(255, 115, 0);
}

#gameOver > #tryAgain:hover {
    background-color: brown;
    color: white;
}

#optionMenu {
    z-index: 5;
    user-select: none;
    position: absolute;
    top: 11%;
    left: 7%;
    border: 3px groove red;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    text-align: center;
    background-color: rgb(237, 235, 250);
    visibility: hidden;
}

.slider {
    -webkit-appearance: none;
    width: 98%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(196, 23, 0);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }

  .treasureButton {
    display: inline-block;
    border: 2px groove red;
    text-align: center;
    background-color: red;
    color:white;
    margin: 10px;
    padding: 10px;
    min-width: 20px;
  }

  .treasureButton:hover {
    background-color: rgb(255, 97, 97);
  }

  .timerButton {
    display: inline-block;
    border: 2px groove red;
    text-align: center;
    background-color: red;
    color:white;
    margin: 2px;
    padding: 10px;
    min-width: 50px;
  }

  .timerButton:hover {
    background-color: rgb(255, 97, 97);
  }

  #optionMenu > #back {
      position: absolute;
      top: 80%;
      left: 5%;
      width: 30px;
      height: 30px;
      border: 2px groove red;
      border-radius: 100px;
    }
  #optionMenu > #back:hover {
      background-color:rgb(255, 97, 97);;
  }

  #explainGame {
    position: absolute;
    left: 3%;
    top: 5%;
    border: 3px groove pink;
    z-index: 10;
    width: 400px;
    height: 400px;
    padding: 10px;
    background-color: rgb(98, 231, 102);
    visibility: hidden;
  }

  .TreasureExplanation1 {
    position: absolute;
    left: 15%;
    top: 18%;
  }

  .TreasureExplanation2 {
    position: absolute;
    left: 15%;
    top: 30%;
  }

  .TImage {
    display: block;
  }

  #explainGame > #back {
    position: relative;
    left: 45%;
    top: 30%;
    border: 3px solid green;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    background-color: green;
  }

  #explainGame > #back:hover {
    background-color: greenyellow;
    border-color: greenyellow;
  }